<% provide(:title, "Home") %>

<%= render 'layouts/hero' %>
<div class = "little_image">
 <%= image_tag('runner.png') %>
</div>
<div class = "general-text">

</div>
<div class="row">
  <div class = "images">
    <p> Get Fit is made to help you to both build and maintain a healthy, fit body. </p>
    <p> It is a social network for those that share the aspiration to get the body they want. It can be used whether your end goal is to lose weight, gain weight, get toned, or get healthier. </p>
    <%= image_tag('tomatoes.jpg') %>
    <p> Improve your lifestyle by logging your daily food intake. Use Get Fit to look up the nutrition facts of the food you are craving. You can view food labels for over 400,000 grocery items. This food journal will allow you to become a better you! </p>
    <%= image_tag('data.jpg') %>
    <p> Track your weight trends over time in order to help you reach your goals </p>
    <%= image_tag('friends.jpg') %>
    <p> Work It makes a healthy lifestyle a goal that you don't have to aim for alone! Add friends to connect. Together you can discuss and reach your goals. </p>
  </div>
</div>
