<% provide(:title, "Home") %>

<% if logged_in? %>
  <div class="center jumbotron">
    <h1> Welcome Back <%=current_user.name %>!</h1> 
  </div>
  <h2> <%= gravatar_for current_user, size: 80 %>
  Current Weight: <%= @weight.weight %> </h2>
  <div class="friends">
    <% for user in current_user.friends %>
     <li> <%= link_to user_path(user) do %>
      <%= gravatar_for user, size: 100 %>
     <% end %>
      <%= line_chart @weights.weight.group(:date).(:weight) %>
     
     </br>
     </br>
     </br>
     </br>
     </br>
     </br>
  <% end %>
  </div>
   <%= render 'shared/update_weight' %>
<% else %>
  <div class="center jumbotron">
    <h1> Get fit! </h1>


    <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
  </div>

  <div id="cover_page_image">
    <%= image_tag("workit.jpg", width: 100) %>
  </div>
<% end %>