<% provide(:title, "Home") %>

<% if logged_in? %>
  <div class="center jumbotron">
    <h1> Welcome Back <%=current_user.name %>!</h1>
  </div>
      <div class="row">
      <div class="col-md-8">
        <%= render 'shared/feed' %>
      </div>
  </div>
  <div class="friends">
    <% for user in current_user.friends %>
     <li><%= gravatar_for user, size: 20 %>
     <%= link_to user.name, user_path(user) %></li>
     </br>
  <% end %>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1> Get fit! </h1>


    <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
  </div>

  <div id="cover_page_image">
    <%= image_tag("workit.jpg", width: 100) %>
  </div>
<% end %>