<% provide(:title, "Home") %>

<% if logged_in? %>
  <div class="center jumbotron">
    <h1> Welcome Back!</h1> 
  </div>
  <h2>  <%=current_user.name %> </h2>
  <%= gravatar_for current_user, size: 80 %>
  Current Weight: <%= @weight.weight %> </h2>
  <div class="friends">
    <% for user in current_user.friends %>
     <li> <%= link_to user_path(user) do %>
      <%= gravatar_for user, size: 100 %>
     <% end %>
  <% end %>
  </div>
    <%= render 'shared/update_weight' %>
<% else %>
    <%= render 'layouts/hero' %>
    <div class = "little_image">
     <%= image_tag('runner.png') %>
    </div>
    <div class = "general-text">
      <p> Get Fit is made to help you to both build and maintain a healthy, fit body. </p>
      <p> It is a social network for those that share the aspiration to get the body they want. It can be used whether your end goal is to lose weight, gain weight, get toned, or get healthier. </p>
    </div>
    <div class="row">
      <div class="col-sm-3"> </div>
      <div class="col-sm-2">
          <%= image_tag('temp2.jpg') %>
          <p> Log your weight along with the food and exercise you have each day. </p>
      </div>

      <div class="col-sm-2">
          <%= image_tag('temp1.jpg') %>
          <p> Look at your weight trends over time </p>
      </div>

      <div class="col-sm-2">
          <%= image_tag('temp3.jpg') %>
          <p> View and comment on your friends' progress for support </p>
      </div>
      <div class="col-sm-3"> </div>
    </div>
<% end %>