<% provide(:title, @user.name) %>
  <div class = "friend_page">
    <div class="row">
      <aside class = "col-md-4">
        <section class="user_info">
          <h1>
            <%= gravatar_for @user, size: 50 %>
            <%= @user.name %>
          </h1>
        </section>
        <% for friend in @user.friends %>
           <li><%= gravatar_for friend, size: 20 %>
           <%= link_to friend.name, user_path(friend) %></li>
           </br>
        <% end %>
      </aside>
    <div class="col-md-8">
      <%= render 'add_friend_form' if logged_in? %>
      <% if @weight.present? %>
        <% if @user == current_user %>
          <h3>Your weight </h3>
          You are at <%= @weight.weight %> pounds!
          <%= render 'shared/update_weight' %>
        <% else %>
         <%= @user.name%> is at <%= @weight.weight %> pounds!
        <% end %>
      <% end %> 
      <% if @user.microposts.any? %>
        <h3>Comments </h3>
        <section class = "micropost form">
        <%= render 'shared/micropost_form'%>
        </section>
        <ol class="microposts">
        <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
    </div>
  </div>