<% provide(:title, @user.name) %>
  <div class = "friend_page">
    <div class="row">
      <aside class = "col-md-4">
        <section class="user_info">
          <h1>
            <%= gravatar_for @user, size: 50 %>
            <%= @user.name %>
          </h1>
          <div class = "gap">
            <h1> Friends </h1>
          </div>
          <div class = "friend_list">
            <% for friend in @user.friends %>
               <li><%= gravatar_for friend, size: 35 %>
               <%= link_to friend.name, user_path(friend) %></li>
               </br>
            <% end %>
          </div>
        </section>
      </aside>
    <div class="col-md-8">
      <%= render 'add_friend_form' if logged_in? %>
      <% if current_user == @user && @weight.blank?%>
        <h3> Want to add your weight? </h3>
        <%= render 'shared/add_weight_form' %>
      <%elsif current_user == @user %>
        <h3> You are at <%= @weight.weight %> pounds. </h3>
        <h3> Want to update your weight? </h3>
         <%= render 'shared/update_weight_form' %>
      <% elsif @weight.nil?%>
        <h3> <%=@user.name%> has not yet added a weight. </h3>
      <% else %>
        <h3> <%= @user.name%>'s is currently at <%=@weight.weight %></h3>
      <% end %>
      <h3>Comments </h3>
      <section class = "micropost form">
      <%= render 'shared/micropost_form'%>
      </section>
      <% unless @microposts.nil? %>
        <ol class="microposts">
        <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
    </div>
  </div>
</div>