<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div id = "logo">
      <%= link_to "Get Fit", root_path, id: "logo" %>
    </div>
    <nav>
      <ul class = "nav navbar-nav navbar-right">
        <li><%= link_to "HOME", root_path %></li>
        <li><%= link_to "ABOUT", about_path %></li>
        <% if logged_in? %>
          <li><%= link_to "USERS", users_path %></li>
          <li><%= link_to "MY PROFILE", current_user %></li>
          <li><%= link_to "MY FRIENDS", friends_path %></li>
          <li><%= link_to "ADD FOOD", food_path %></li>
          <li><%= link_to "SETTINGS", edit_user_path(current_user) %></li>
          <li class="divider"></li>
          <li><%= link_to "LOG OUT", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "LOG IN", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>  